---

<center> <h1> Variables and Data Types </h1> </center> 

---

- Variables are names that bound to objects,values,etc..

---

###  üìç Variable Assignment

- When you create a variable you keep some space in memory. These memory locations are then used to store values. 



---

In [1]:
# define a variable name "a" and assign value 5 to it
a = 5

In [2]:
# print the value of variable
a

5

- To view some data on the output screen, python also has `print` function. Using `print` function we can control the view on the output screen.
- Later in the course, we will discuss what are functions in detail and see more use of this function.

---

In [3]:
print(a)

5

### üìç Variable naming rules

---
***Identifiers in Python***

* Like Variables, we have to define functions, classes, etc in python. Naming them helps to differentiate one entity from another.
* All these names given to these entities are known as `Identifiers`. 
* Python have some rules to define the Identifiers.  


***Rules of Writing Identifiers***

* Python is case sensitive language.
* Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myVariable, var_1 and print_this, all are valid example.
* An identifier cannot start with a digit.
* `1variable` is invalid, but `variable1` is perfectly fine.
* We cannot use special symbols like !, @, #, $, % etc. in our identifier. `_` is allowed.

* ***`Keywords` cannot be used as identifiers. `Keywords` are the reserved words in Python.***

---

***Keywords in Python***

---

* False	
* class	
* finally	
* is	
* return
* None	
* continue	
* for	
* lambda	
* try
* True, etc


---

In [12]:
import keyword

# print the keywords
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

---

***Python is case sensitive so `a` and `A` are different***

---

In [13]:
A = 4

In [14]:
print(a)
print(A)

5
4

***Rules to define variable names***

---

In [16]:
# allowed, normal naming conventions
a = 5

In [17]:
# only "_" underscore is allowed in allowed in special characters in the variable name
_a = 5

In [18]:
# other special characters are not allowed
@a=5

SyntaxError: invalid syntax (<ipython-input-18-d71cdc5ed5c5>, line 2)

In [19]:
# we can not start with variables name with a number
1a = 5

SyntaxError: invalid syntax (<ipython-input-19-c86ca84d118d>, line 2)

---

###   Data types

* int
* string
* float
* bool

---

In [20]:
# INTEGER TYPE
a = 5

In [21]:
type(a)

int

In [22]:
# STRING TYPE
b = "mnr"

In [23]:
type(b)

str

In [24]:
# FLOAT TYPE
c = 5.55

In [25]:
type(c)

float

In [26]:
# BOOLEAN TYPE
d = True

In [27]:
type(d)

bool

###  How variables work in Python

---

In [28]:
# Look at the following statements
a = 7
b = a
a = 3

In [29]:
print(b)

7



***What will be the value of a?***


---

In [30]:
print(a)

3

---

###  Type Conversion

***Python defines type conversion functions to directly convert one data type to another.***



---

***convert float to integer***

---

In [31]:
# age is generally in integer numbers
my_age = 26.33333
my_age = int(my_age)
my_age

26

***convert string to integer***

---

In [32]:
# if we try to add string and integer number, it will give an error
my_int = '2' + 6

TypeError: can only concatenate str (not "int") to str

In [33]:
# type conversion: string to int
my_int = int('2') + 6
my_int

8

### String to int and float

In [40]:
int('3.2')

ValueError: invalid literal for int() with base 10: '3.2'

In [41]:
float('0.2321')

0.2321

In [43]:
float("1151226468812.22")

1151226468812.22

In [44]:
print(float("24.214"))

24.214

### Why Then?

In [45]:
float('132/123')

ValueError: could not convert string to float: '132/123'

**There are 2 major reasons that lead to ValueError: could not convert string to float while you try to use the float() method on a numeric string value. These are:**

1. When a numeric string contains a comma or other delimiters/special- characters.

2. When a numeric string contains non-special characters.

In [46]:
float('123,312,')

ValueError: could not convert string to float: '123,312,'

In [47]:
float('222-222-222')

ValueError: could not convert string to float: '222-222-222'

In [48]:
float("2_22_222")

222222.0

In [49]:
int("1_00_000")

100000

In [50]:
int("555/231")

ValueError: invalid literal for int() with base 10: '555/231'

In [51]:
float("$100")

ValueError: could not convert string to float: '$100'

### Then how to print this methods

#### Use replace() Method

In [52]:
print(float("$100".replace("$", '') ))

100.0

#### Using Regex

In [55]:
import re
a = '$100'

res = re.sub('[^0-9]+', '', a)

print(float(res))

100.0

In [56]:
ip = '192.168.10.0'
print("String: ", ip)

res = list(map(float,ip.split('.')))

print("Octets: ")

for i in res:
    print(i)

String:  192.168.10.0
Octets:
192.0
168.0
10.0
0.0