<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Assignment:-📝📝" data-toc-modified-id="Assignment:-📝📝-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Assignment: 📝📝</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#🙇-Who-scored-the-highest-marks-in-the-subject-B?" data-toc-modified-id="🙇-Who-scored-the-highest-marks-in-the-subject-B?-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>🙇 Who scored the highest marks in the subject B?</a></span></li><li><span><a href="#🙇-What-is-the-average-marks-scored-in-the-subject-C?" data-toc-modified-id="🙇-What-is-the-average-marks-scored-in-the-subject-C?-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>🙇 What is the average marks scored in the subject C?</a></span></li><li><span><a href="#🙇-Who-scored-the-highest-percentage-of-marks?" data-toc-modified-id="🙇-Who-scored-the-highest-percentage-of-marks?-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>🙇 Who scored the highest percentage of marks?</a></span></li><li><span><a href="#🙇-If-considered-only-top-4-subjects-of-a-candidate,-then-who-scored-the-highestpercentage-of-marks?" data-toc-modified-id="🙇-If-considered-only-top-4-subjects-of-a-candidate,-then-who-scored-the-highestpercentage-of-marks?-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>🙇 If considered only top-4 subjects of a candidate, then who scored the highestpercentage of marks?</a></span></li></ul></li></ul></li><li><span><a href="#Questions-and-Answers." data-toc-modified-id="Questions-and-Answers.-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Questions and Answers.</a></span><ul class="toc-item"><li><span><a href="#🙇-Who-scored-the-highest-marks-in-the-subject-B?" data-toc-modified-id="🙇-Who-scored-the-highest-marks-in-the-subject-B?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>🙇 Who scored the highest marks in the subject B?</a></span></li><li><span><a href="#🙇-What-is-the-average-marks-scored-in-the-subject-C?" data-toc-modified-id="🙇-What-is-the-average-marks-scored-in-the-subject-C?-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>🙇 What is the average marks scored in the subject C?</a></span></li><li><span><a href="#🙇-Who-scored-the-highest-percentage-of-marks?" data-toc-modified-id="🙇-Who-scored-the-highest-percentage-of-marks?-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>🙇 Who scored the highest percentage of marks?</a></span></li><li><span><a href="#🙇-If-considered-only-top-4-subjects-of-a-candidate,-then-who-scored-the-highest-percentage-of-marks?" data-toc-modified-id="🙇-If-considered-only-top-4-subjects-of-a-candidate,-then-who-scored-the-highest-percentage-of-marks?-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>🙇 If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?</a></span></li></ul></li></ul></div>

# Assignment: 📝📝

🎓🎓 Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject A, B, C, D, and E. 🎓🎓 The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.
📍📍

### 🙇 Who scored the highest marks in the subject B?

### 🙇 What is the average marks scored in the subject C?

### 🙇 Who scored the highest percentage of marks?

### 🙇 If considered only top-4 subjects of a candidate, then who scored the highestpercentage of marks?

---

In [103]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

# Questions and Answers.

 ## 🙇 Who scored the highest marks in the subject B?

In [114]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [115]:
from tabulate import tabulate
print(tabulate(student_marks, headers="firstrow"))

Name     ['A', 'B', 'C', 'D', 'E']
-------  ---------------------------
Ankit    [41, 34, 45, 55, 63]
Aravind  [42, 23, 34, 44, 53]
Lakshay  [32, 23, 13, 54, 67]
Gyan     [23, 82, 23, 63, 34]
Pranav   [21, 23, 25, 56, 56]

Here the first element in the index is similar to headers in the CSV file. So, we will slice the list from the second element.

In [116]:
print(student_marks[0])

['Name', ['A', 'B', 'C', 'D', 'E']]

In [117]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

Each element in the list from the index 1 contains 2 elements, the first one is the Name and second one is list of marks.

---

In [118]:
""" Marks of Ankit in Subject B. """

print(student_marks[1][0])  # student name
print(student_marks[1][1])  # student marks

Ankit
[41, 34, 45, 55, 63]

##### For highest mark in subject B:

***Step1 📍: Select name of student and marks in subject B***

In [119]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_b = student[1][1]
    
    print(name, marks_in_b)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

***Step2 📍: Store the filtered name and marks in another list.***

In [120]:
# list to store the marks
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

**Step3 📍: Sort the list. (We Kept the marks as the first index)***

In [121]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

**Step 4 📍: Get the final index of the sorted list which denotes the highest mark.**

In [122]:
 sorted(student_with_marks_in_B)[-1][-1]

'Gyan'

***So, we got the answer of the first question. Gyan🥇🥇 has scored the highest marks in subject B.***

---

---

 ## 🙇 What is the average marks scored in the subject C?

In [123]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [124]:
from tabulate import tabulate
print(tabulate(student_marks, headers="firstrow"))

Name     ['A', 'B', 'C', 'D', 'E']
-------  ---------------------------
Ankit    [41, 34, 45, 55, 63]
Aravind  [42, 23, 34, 44, 53]
Lakshay  [32, 23, 13, 54, 67]
Gyan     [23, 82, 23, 63, 34]
Pranav   [21, 23, 25, 56, 56]

In [125]:
marks_in_subject_C = []

***Step1 📍: Select marks in subject C***

In [126]:
# getting subject c mark from data
for student in student_marks[1:]:
    marks_in_c = student[1][2]
    
    marks_in_subject_C.append(marks_in_c)

In [127]:
marks_in_subject_C

[45, 34, 13, 23, 25]

***Step2 📍: Calculating a average of subject marks.***

In [128]:
average_marks_c = sum(marks_in_subject_C)/len(marks_in_subject_C)
print(average_marks_c)

28.0

***So, we got the answer of the second question. 28.0🥇🥇 is the average marks in subject C.***

---

---

 ## 🙇 Who scored the highest percentage of marks?

In [129]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

***Step 1 📍: Select name of student and marks in subjects.***

In [130]:
mark_list_with_name = []

In [131]:
for student in student_marks[1:]:
    name = student[0]
    marks = student[1]
    
    mark_list_with_name.append([marks ,name])

In [132]:
mark_list_with_name

[[[41, 34, 45, 55, 63], 'Ankit'],
 [[42, 23, 34, 44, 53], 'Aravind'],
 [[32, 23, 13, 54, 67], 'Lakshay'],
 [[23, 82, 23, 63, 34], 'Gyan'],
 [[21, 23, 25, 56, 56], 'Pranav']]

In [133]:
print(tabulate(mark_list_with_name))

--------------------  -------
[41, 34, 45, 55, 63]  Ankit
[42, 23, 34, 44, 53]  Aravind
[32, 23, 13, 54, 67]  Lakshay
[23, 82, 23, 63, 34]  Gyan
[21, 23, 25, 56, 56]  Pranav
--------------------  -------

**Step 2 📍: Calculating percentage and storing it in list**

In [134]:
percentage_list = []

In [135]:
for student in mark_list_with_name:
    name = student[-1]  # getting name
    
    total = len(student[0]) * 100  # getting total of 5 subjects.
    indiavidual_per = sum(student[0])  # getting individual marks total
    
    percentage = (indiavidual_per / total) * 100
    
    percentage_list.append([round(percentage), name])

In [136]:
percentage_list

[[48, 'Ankit'], [39, 'Aravind'], [38, 'Lakshay'], [45, 'Gyan'], [36, 'Pranav']]

**Step 3 📍: Getting student name who got highest percentage.**

In [137]:
sorted(percentage_list)[-1]

[48, 'Ankit']

***So, we got the answer of the third question. Ankit🥇🥇 got the highest 48 percentage.***

---

---

## 🙇 If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?

In [138]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [139]:
print(tabulate(student_marks, headers="firstrow"))

Name     ['A', 'B', 'C', 'D', 'E']
-------  ---------------------------
Ankit    [41, 34, 45, 55, 63]
Aravind  [42, 23, 34, 44, 53]
Lakshay  [32, 23, 13, 54, 67]
Gyan     [23, 82, 23, 63, 34]
Pranav   [21, 23, 25, 56, 56]

***Step1 📍: Select name of student and marks in subjects.***

In [140]:
marks_with_name = []

In [141]:
for student in student_marks[1:]:
    name = student[0]
    marks = student[1]
    
    marks_with_name.append([marks ,name])

In [142]:
marks_with_name

[[[41, 34, 45, 55, 63], 'Ankit'],
 [[42, 23, 34, 44, 53], 'Aravind'],
 [[32, 23, 13, 54, 67], 'Lakshay'],
 [[23, 82, 23, 63, 34], 'Gyan'],
 [[21, 23, 25, 56, 56], 'Pranav']]

**Step 2  📍: filter a data and store only top-4 subjects of a candidate and store it in new list along with candidate name.**

In [143]:
marks_with_name

[[[41, 34, 45, 55, 63], 'Ankit'],
 [[42, 23, 34, 44, 53], 'Aravind'],
 [[32, 23, 13, 54, 67], 'Lakshay'],
 [[23, 82, 23, 63, 34], 'Gyan'],
 [[21, 23, 25, 56, 56], 'Pranav']]

In [144]:
top_4_subjects = []

In [145]:
for student in marks_with_name:
    
    name = student[-1]  # getting name
    
    
    top_4 = sorted(student[0])[1:]   # getting top 4 subject from sorted marks by excluding min mark.
    
    
    top_4_subjects.append([top_4, name])

In [146]:
top_4_subjects

[[[41, 45, 55, 63], 'Ankit'],
 [[34, 42, 44, 53], 'Aravind'],
 [[23, 32, 54, 67], 'Lakshay'],
 [[23, 34, 63, 82], 'Gyan'],
 [[23, 25, 56, 56], 'Pranav']]

**Step 3 📍: Calculating percentage of top 4 subjects of candidate and storing it in list.**

In [147]:
top_4_subjects

[[[41, 45, 55, 63], 'Ankit'],
 [[34, 42, 44, 53], 'Aravind'],
 [[23, 32, 54, 67], 'Lakshay'],
 [[23, 34, 63, 82], 'Gyan'],
 [[23, 25, 56, 56], 'Pranav']]

In [148]:
top_4_subject_percentage = []

In [149]:
for student in top_4_subjects:
    
    name = student[-1]  # getting name
    
    total = len(student[0]) * 100  # getting total of subjects.
    
    indiavidual_per = sum(student[0])  # getting individual marks total
    
    percentage = (indiavidual_per / total) * 100
    
    top_4_subject_percentage.append([round(percentage), name])

In [150]:
top_4_subject_percentage

[[51, 'Ankit'], [43, 'Aravind'], [44, 'Lakshay'], [50, 'Gyan'], [40, 'Pranav']]

**Step 4 📍: Getting student name who got highest percentage.**

In [151]:
sorted(top_4_subject_percentage)

[[40, 'Pranav'], [43, 'Aravind'], [44, 'Lakshay'], [50, 'Gyan'], [51, 'Ankit']]

In [152]:
sorted(top_4_subject_percentage)[-1]  # last index of sorted list.

[51, 'Ankit']

***So, we got the answer of the forth question. Ankit🥇🥇 got the highest 51 percentage from top 4 subjects marks.***

---

---

<center><b>Thanks.</b></center>