# Why Data Structures?

<b>Existing data types - int, float, bool, str </b>

Problems with Existing Data types:

- Data in a variable can be stored in a single format i.e either integers or decimals or strings etc.
- Large memory overhead by creating large number of variables.
- Unfit for storing large structured data

### What is a Data Structure?

- Efficient storage for large data
- Manipulations/Operations on data
- Underlying Relationships of data

### Data Structured in Python:
1. List ==> []
2. Tuple ==> ()
3. Dictionary ==> {}
4. Set ==> {}

<span class="mark">String, tuple is immutable and dictionary, set, list is mutable.
</span>

<span class="mark">String, List, Tuple, List are ordered collection data structure.
Set is Unordered collection data structure.</span>

### Ordered Vs Unordered In Python With Example

In [1]:
num = "12345678910"
string_letters = str(num)
lists_letters = list(num)
tuples_letters = tuple(num)
sets_letters = set(num)

In [2]:
print("String: ", string_letters)
print("List: ", lists_letters)
print("Tuple: ", tuples_letters)
print("Set: ", sets_letters)  # Orders are not maintained

String:  12345678910
List:  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '0']
Tuple:  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '0')
Set:  {'7', '4', '1', '9', '0', '5', '3', '6', '8', '2'}

---
---

<center><h1> üìç üìç DATA STRUCTURE - LIST üìç üìç </h1></center>



---

***Creating a list***

---

In [3]:
#creating a list
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

***Access elements with index***

![](img/table.png)

---

In [6]:
newList = list("Hello World")
newList

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [7]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# positive index - second element from the left
my_list[1]

2

In [9]:
# negative index - second last element in the list
my_list[-2]

9

***List Slicing***

---

In [13]:
# get all the elements in the list using colon only
my_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# same result using the double colon also
my_list[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
my_list[1:5]

[2, 3, 4, 5]

In [16]:
# after second colon we define the step
my_list[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
# slice list with step 2
my_list[::2]

[1, 3, 5, 7, 9]

In [18]:
# list from index 2 upto 5 with step 1
my_list[2:5:1]

[3, 4, 5]

In [19]:
# list from index 2 upto 5 with step 2 
my_list[2:5:2]

[3, 5]

In [20]:
# list from index 3 to second last index
my_list[2:-2]

[3, 4, 5, 6, 7, 8]

In [22]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
my_list[2::-2]

[3, 1]

In [29]:
my_list[2:5:-2]

[]

In [30]:
my_list[-2::-2]

[9, 7, 5, 3, 1]

In [31]:
# reverse the list using step value as -1
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

***Append an element to the list.***

---

In [94]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
# add element to the end of the list
my_list.append(3)

In [97]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]

In [98]:
# let's try to append multiple elements in the list
my_list.append([1,2])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2]]

<b>You can see that it has created an nested list when used append method, You can add multiple elements to the list by using extend function. </b>

---

Merge to the original list.

In [99]:
my_list.extend([2, 2, 3, 4])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

***Search for an element in the List***

---

In [100]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [101]:
# find out the index of an element in the list if present, it find where first element is appear in list.
# here 2 4's are in the list, first 4 is at the 3rd index. so it returns index 3.
my_list.index(4)

3

In [102]:
# index can also search nested objects
my_list.index([1,2])

11

In [117]:
my_list.index(22)

ValueError: 22 is not in list

***Insert an element in the List***

---

In [103]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

list.index(index_num, element)

In [104]:
my_list.insert(1, 'w')

In [105]:
my_list

[1, 'w', 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [106]:
my_list.insert(4,'python')

In [107]:
my_list

[1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

Existing value 4 move further.

---

***Check if the particular element is present in the list or not.***

We will use `in` or `not in` to get the answers of these type of queries. These `in` and `not in` are also called as `membership operators.`

---

In [108]:
90 in my_list

False

In [109]:
[1, 2] in my_list

True

In [114]:
[117] not in my_list # 117 is not present

True

In [115]:
3 not in my_list  # false, because 3 is present

False

***Remove an element from the list***

---

In [116]:
my_list

['w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [112]:
# using remove method, It will find and delete the first element found 4
my_list.remove(4)
my_list

[1, 'w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [113]:
# using del keyword, It will delete the element present at the zeroth index
del my_list[0]
my_list

['w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [118]:
my_list

['w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [119]:
my_list.append([1,2,3,4])

In [120]:
my_list

['w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4, [1, 2, 3, 4]]

In [121]:
del my_list[-1][-1]  # delete last element from last present list
print(my_list)

['w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4, [1, 2, 3]]

***Iterate the list.***

---

In [122]:
# interate a list
for element in my_list:
    print(element)

w
2
3
python
5
6
7
8
9
10
3
[1, 2]
2
2
3
4
[1, 2, 3]

***Some pre-defined method on List***

---

In [123]:
# creat another random list
my_list_2 = [1, 33, 3432, 232, 1 ]

In [124]:
# find out the length of the list
len(my_list_2)

5

In [125]:
# length of the list
my_list_2.reverse()
my_list_2

[1, 232, 3432, 33, 1]

In [126]:
# sort the list
my_list_2.sort()
my_list_2

[1, 1, 33, 232, 3432]

In [127]:
# another way of sorting list
sample_list = [2, 33, 42, 1, 34, 35]
sorted(sample_list)

[1, 2, 33, 34, 35, 42]

In [129]:
# sorted reverse way
sorted(sample_list, reverse = True)

[42, 35, 34, 33, 2, 1]

***Nested List***

* Some or all of the elements in the list are also of type list.

---

In [130]:
# define a sample nested list
my_list_3 = [1, 2, [1, 2, 1], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

In [131]:
# length of the list
len(my_list_3)

6

In [132]:
# second element is a sigle element
my_list_3[1]

2

In [133]:
# third element is of type list
my_list_3[2]

[1, 2, 1]

In [134]:
# access particular element of the third element (list type element)
my_list_3[2][1]

2

In [135]:
# access element with negative index
my_list_3[-3][-1]

'C'

![](img/list.png)

---

# Problem Statement: üìùüìù

* ***üéìüéì Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. üéìüéì The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***

üìçüìç

   * üôá Who scored the highest marks in the subject B?

In [209]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

***Let's try to access the first index of the list.***

---

In [210]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

***Here the first element in the index is similar to headers in the CSV file. So, we will slice the list from the second element.***


---

In [211]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

***Now, each element in the list from the index 1 contains 2 elements, the first one is the Name and second one is list of marks***

---

In [212]:
student_marks[1][0]

'Ankit'

In [213]:
student_marks[1][1]

[41, 34, 45, 55, 63]

- Now, the student marks are in order **`A`**, **`B`**, **`C`**, **`D`** and **`E`**. and we need to access the value at index 1 to get the marks in subject **`B`**

---

In [214]:
student_marks[1][1][1]

34

***That's the marks of `Ankit` in Subject `B`***

---

---
---
***Now, we will solve the problem step by step.***


---

## üìçüìçüìçWho scored the highest marks in the subject B üèÜ ü•á?   

---

***Step1 üìç: Select name of student and marks in subject B***

In [215]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name, marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

---
***Step2 üìç: Store the filtered name and marks in another list.***

In [216]:
# list to store the marks
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

In [217]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

---

***Step3 üìç: Sort the list. (We Kept the marks as the first index)***

In [218]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

---

***Step4 üìç: Get the final index of the sorted list***

In [219]:
sorted(student_with_marks_in_B)[-1][1]

'Gyan'

***So, we got the answer of the first question. Gyanü•áü•á has scored the highest marks in subject B.***

---
---



# Data Structure - Tuple üìçüìç




### We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.

 
##  <span class="mark">Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost due to its immutibility.</span>

## <span class="mark">Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.</span>

### If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.


---



#### Defining the Tuple in Python
---

In [220]:
my_tuple = ()

In [221]:
my_tuple = 1,23,'hello'

In [222]:
my_tuple

(1, 23, 'hello')

In [223]:
my_tuple = ('A', 'B', 'C', 'D', 'D', 'E', 1 , 'D')

#### Access element at any Index

---

In [224]:
my_tuple[2]

'C'

#### Find out the index of any element if present in Tuple

---

In [225]:
my_tuple

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [226]:
my_tuple.index('E')

5

In [227]:
my_tuple.index('D')

3

#### Count of an element in a tuple

---

In [228]:
my_tuple.count('D')

3

#### Iterate through the elements of the Tuple

---

In [229]:
for element in my_tuple:
    print(element)

A
B
C
D
D
E
1
D

#### Slicing of a tuple

---

In [230]:
# tuple
my_tuple

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [231]:
# first three elements
my_tuple[:3]

('A', 'B', 'C')

In [232]:
# define the start and end point to slice
my_tuple[3:5]

('D', 'D')

<code>we can apply operations on slicing.</code>

In [233]:
# count method on a slice 
my_tuple[3:5].count('D')

2

In [234]:
# index method on a slice
my_tuple[1:4].index('B')

0

#### Tuples are immutable

- <b>We cannot edit/update or delete elements from the tuple.</b>

---

In [235]:
my_tuple

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [236]:
my_tuple[2] = 'D'

TypeError: 'tuple' object does not support item assignment

In [237]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

----

---

# Assignment: üìùüìù

* ***üéìüéì Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. üéìüéì The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***

üìçüìç

   ### üôá Who scored the highest marks in the subject B?

In [162]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

***Let's try to access the first index of the list.***

---

In [169]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [175]:
import pprint
pprint.pprint(student_marks)

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [187]:
!pip3 install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9

In [189]:
from tabulate import tabulate
print(tabulate(student_marks, headers="firstrow"))

Name     ['A', 'B', 'C', 'D', 'E']
-------  ---------------------------
Ankit    [41, 34, 45, 55, 63]
Aravind  [42, 23, 34, 44, 53]
Lakshay  [32, 23, 13, 54, 67]
Gyan     [23, 82, 23, 63, 34]
Pranav   [21, 23, 25, 56, 56]

In [192]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [193]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

***Here the first element in the index is similar to headers in the CSV file. So, we will slice the list from the second element.***


---

In [194]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

***Now, each element in the list from the index 1 contains 2 elements, the first one is the Name and second one is list of marks***

---

In [195]:
student_marks[1][0]

'Ankit'

In [197]:
student_marks[1][1]  # marks of ankit

[41, 34, 45, 55, 63]

- Now, the student marks are in order **`A`**, **`B`**, **`C`**, **`D`** and **`E`**. and we need to access the value at index 1 to get the marks in subject **`B`**

---

In [198]:
student_marks[1][1][1] # marks in Subject b

34

***That's the marks of `Ankit` in Subject `B`***

---

---
---
***Now, we will solve the problem step by step.***


---

## üìçüìçüìçWho scored the highest marks in the subject B üèÜ ü•á?   

---

***Step1 üìç: Select name of student and marks in subject B***

In [2]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_b = student[1][1]
    
    print(name, marks_in_b)

NameError: name 'student_marks' is not defined

In [251]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name, marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

---
***Step2 üìç: Store the filtered name and marks in another list.***

In [252]:
list_marks_with_b = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_b = student[1][1]
    
    list_marks_with_b.append(name, marks_in_b) # only take obeject as a argument

TypeError: append() takes exactly one argument (2 given)

In [253]:
list_marks_with_b = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_b = student[1][1]
    
    list_marks_with_b.append([name, marks_in_b])

In [254]:
list_marks_with_b

[['Ankit', 34], ['Aravind', 23], ['Lakshay', 23], ['Gyan', 82], ['Pranav', 23]]

In [255]:
# list to store the marks
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

In [256]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

---

***Step3 üìç: Sort the list. (We Kept the marks as the first index)***

In [257]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

we get that gyan got highest mark.

---

***Step4 üìç: Get the final index of the sorted list***

In [258]:
sorted(student_with_marks_in_B)[-1][1]

'Gyan'

## üôá What is the average marks scored in the subject C?

In [259]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [260]:
marks_in_subject_C = []

In [261]:
for student in student_marks[1:]:
    marks_in_c = student[1][2]
    
    marks_in_subject_C.append(marks_in_c)

In [265]:
print(tabulate(student_marks, headers="firstrow"))

Name     ['A', 'B', 'C', 'D', 'E']
-------  ---------------------------
Ankit    [41, 34, 45, 55, 63]
Aravind  [42, 23, 34, 44, 53]
Lakshay  [32, 23, 13, 54, 67]
Gyan     [23, 82, 23, 63, 34]
Pranav   [21, 23, 25, 56, 56]

In [266]:
marks_in_subject_C

[45, 34, 13, 23, 25]

In [1]:
average_marks_c = sum(marks_in_subject_C)/len(marks_in_subject_C)
print(average_marks_c)

NameError: name 'marks_in_subject_C' is not defined