---
---

<center><h1>üìç üìç Lambda Expressions üìç üìç</h1></center>




---


---

***`Lambda Functions`***





* <span class="mark">This function can have any number of arguments but only one expression, which is evaluated and returned.</span>
* You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.

* <span class="girk">It is more efficient than function when the function task is small.
* <span class="burk">Do not use Lambda functions when task is complex.</span></span>
* It works best when you have to call a function millions of times but the execution task is simple.


---

***A Lambda function that adds 20 to the number that is passed as an argument.***


---

In [1]:
def add_20(a):
    return a+20

In [2]:
add_20(5)

25

In [3]:
var = lambda a: a+20   # a is arg and a+20 task which python return at end.


print('With argument value 5 : ',var(5))
print('With argument value 10 : ',var(10))

With argument value 5 :  25
With argument value 10 :  30

## Using if else in Lambda function

Using if else in lambda function is little tricky, the syntax is as follows,

lambda <arguments> : {<Return Value if condition is True> if <condition>} {else <Return Value if condition is False>}

###### Using if, elif & else in a lambda function

```lambda <args> : {<return Value> if <condition >} else  ({<return value > if <condition> else <return value>})```



---


***A Lambda function with two arguments.***


---

In [4]:
lambda_add = lambda a, b : a+b

print('The value of 5+3 = ',lambda_add(5,3))
print('The value of 7+2 = ',lambda_add(7,2))

The value of 5+3 =  8
The value of 7+2 =  9



---

## ***FILTER FUNCTION***

***The filter() function in Python takes in a function and a list as arguments. To filter out all the elements of a sequence, for which the function returns True.***

---

filter()

Init signature: filter(self, /, *args, **kwargs)

Docstring:     
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item) is true. If function is None, return the items that are true.

Type:           type
Subclasses:

###### using  normal function

In [5]:
def normal_even(x):

    if x % 2 != 0:
        return True
    else:
        return False

filter():
    
Init signature: filter(self, /, *args, **kwargs)
Docstring:     
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.

Type:           type Subclasses:

In [14]:
original_list = [5, 17, 32, 43, 12, 62, 237, 133, 78, 21] 

# filter the odd numbers from the list
filtered_list = list(filter(lambda x: (x%2 != 0) , original_list)) 

print('The odd numbers are : ',filtered_list)

The odd numbers are :  [5, 17, 43, 237, 133, 21]

###### Using Lambda Functions

In [15]:
original_list = [5, 11, 15, 43, 20, 65, 235, 133, 75, 21] 

# filter the multiples of 5
filtered_list = list(filter(lambda x: (x%5 == 0) , original_list)) 

print('The multiples of 5 are : ',filtered_list)

The multiples of 5 are :  [5, 15, 20, 65, 235, 75]

In [16]:
original_list = ['Analytics','Standard','Super','Data','Science','Vidhya'] 

# filter the words starting with 'S'

filtered_list = list(filter(lambda x: (x[0] == 'S') , original_list)) 

print('The words starting with "S" are : ',filtered_list)

The words starting with "S" are :  ['Standard', 'Super', 'Science']

In [17]:
# print even b/w 1 to 50
n = [i for i in range(51)]

print(n)

# filtered list
fil = list(filter(lambda x: (x%2 == 0) ,n))
print(fil)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]



---

## ***MAP FUNCTION***

***The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item.***

---

map()

Init signature: map(self, /, *args, **kwargs)

Docstring:     
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from each of the iterables.  Stops when the shortest iterable is exhausted.

Type:           type
Subclasses:

###### map() function apply function operation on each iterable.

In [18]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# double each number in the original list

mapped_list = list(map(lambda x: x*2 , original_list)) 
print('New List : ',mapped_list)

New List :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
original_list = ['analytics','vidhya','king','south','east']

# captilize first letter of each word present in list

mapped_list = list(map(lambda x: (x[0].capitilize()) , original_list))

print(mapped_list)

AttributeError: 'str' object has no attribute 'capitilize'

In [20]:
original_list = ['analytics','vidhya','king','south','east']

# captilize first letter of each word present in list

mapped_list = list(map(lambda x: (x.capitalize())[:] , original_list))

print(mapped_list)

['Analytics', 'Vidhya', 'King', 'South', 'East']

In [21]:
original_list = ['analytics','vidhya','king','south','east']
# capatilize first letter of each  word in the original list
mapped_list = list(map(lambda x: x[0].upper()+x[1:] , original_list)) 
print('New List : ',mapped_list)

New List :  ['Analytics', 'Vidhya', 'King', 'South', 'East']



---

***REDUCE FUNCTION***

* ***The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list.***
* ***The reduce function will always take two parameters***

---

###### apply function operation on cummulative pair of input.

In [22]:
from functools import reduce

reduce()

Docstring:
reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.

For example, 

reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) 

calculates ((((1+2)+3)+4)+5).  

If initial is present, it is placed before the items
of the sequence in the calculation, and serves as a default when the sequence is empty.

Type:      builtin_function_or_method

In [23]:
from functools import reduce


original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# use reduce function to find the sum of numbers in the original list
sum_of_list = reduce((lambda x, y : x + y), original_list) 

print ('Sum of Numbers in the original list is : ',sum_of_list)

Sum of Numbers in the original list is :  45

lambda <arguments> : {<Return Value if condition is True> if <condition>} {else <Return Value if condition is False>}

In [24]:
original_list = [110, 53, 3, 424, 255, 16, 42, 256]

# largest in a list

large_n = reduce(lambda x,y: x if (x>y) else y, original_list)

print(large_n)

424

In [25]:
original_list = [110, 53, 3, 424, 255, 16, 42, 256]

# use reduce function to find the largest number in the original list
largest_number = reduce((lambda x, y: x if (x > y) else y ), original_list) 
print ('Largest Number in the original list is : ',largest_number)

Largest Number in the original list is :  424